# built files
*.iso
*.elf
*.o

init.tar

# toolchain files
*.tar.gz
toolchain/binutils-2.33.1
toolchain/build-binutils
toolchain/build-gcc
toolchain/gcc-9.2.0

# beta
exp/

# build files
build-x86_64/
dep/

# system root
sysroot/

# stubs
last_output

# hscripts
*.hscript.md

# networking files
*.pcap